<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>爱酷车行</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-submenu.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/leaflet.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/map.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mCustomScrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropzone.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" id="style_sheet" th:href="@{/css/skins/midnight-blue.css}">

    <!-- Favicon icon -->
    

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700%7CUbuntu:300,400,700" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/ie10-viewport-bug-workaround.css}">

    <script  th:src="@{/js/ie8-responsive-file-warning.js}"></script>
    <script  th:src="@{/js/ie-emulation-modes-warning.js}"></script>
    <script  th:src="@{/js/jquery-2.2.0.min.js}"></script>
    <script  th:src="@{/js/html5shiv.min.js}"></script>
    <script  th:src="@{/js/respond.min.js}"></script>

</head>
<body class="bg-grea-3">
<div class="page_loader"></div>

<!-- Contact section start -->
<div class="contact-section overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <!-- Logo -->
                        <a href="index.html">
                            <img th:src="@{/img/black-logo.png}" class="cm-logo" alt="black-logo">
                        </a>
                        <!-- Name -->
                        <h3>登陆</h3>
                        <!-- Form start
                        th:action="@{/api/v1/car/users/loginuser}" method="post"
                        -->
                        <form action="/users/loginuser" method="post" >
                            <div class="form-group">
                                <input type="text" name="username" class="input-text" placeholder="请输入你的账户">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="input-text" placeholder="请输入你的密码">
                            </div>
                            <div class="checkbox">
                                <div class="ez-checkbox pull-left">
                                    <label>
                                        <input type="checkbox" class="ez-hide">
                                        记住我
                                    </label>
                                </div>
                                <a href="#" class="link-not-important pull-right">Forgot Password</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group mb-0" id="loginBtn">
                                <button type="submit"  class="btn-md button-theme btn-block">login</button>
                            </div>
                        </form>
                        <!-- Social List -->
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>Don't have an account? <a th:href="@{/user/signup}">Register here</a></span>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->
<!--<script th:inline="javascript">
    $(function () {
        $("#loginBtn").click(function () {
            console.log("contactus_click_notice-&#45;&#45;");
            var name = $('input[name="username"]').val();
            var pass= $('input[name="password"]').val();
            var s=$.ajax({
                //给叫getUser的请求发送请求
                // url: 'http://localhost:9090/api/v1/car/users/loginuser',
                url: '/api/v1/car/users/loginuser',
                dataType: "json",
                contentType: "application/json",
                //不加也可以，默认是get
                type: "post",
                data: JSON.stringify({
                    //带一个参数，结果会返回userId为1的用户
                    "username": name,
                    "password": pass
                }),
                //设成同步请求，不加默认是异步，这里加这个是为了同步适用下面的那条语句，
                //不然异步的话，$("#niHao")会用不了
                success:function (res) {
                    console.log(res)
                    //这个等下再用
                    if(res != null){
                        // var a = JSON.parse(res) //必要的
                        if (res.statusCode === 200){
                            console.log(res.data)
                            window.location.href ="/index";
                        }else {
                            alert("账户密码错误");
                        }
                        // $("#sss").html(a.id);
                    }

                }
            })
            //因为我们这个请求现在还是返回的页面，将页面嵌入id叫niHao的元素中
            // $("#niHao").html(s.responseText)
        });
    })
</script>-->
<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="index.html#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script  th:src="@{/js/bootstrap-submenu.js}"></script>

<script  th:src="@{/js/rangeslider.js}"></script>
<script  th:src="@{/js/bootstrap-select.min.js}"></script>
<script  th:src="@{/js/jquery.easing.1.3.js}"></script>
<script  th:src="@{/js/jquery.scrollUp.js}"></script>
<script  th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script  th:src="@{/js/leaflet.js}"></script>
<script  th:src="@{/js/leaflet-providers.js}"></script>
<!--<script  src="js/jquery.mb.YTPlayer.js"></script>-->
<script  th:src="@{/js/leaflet.markercluster.js}"></script>
<script  th:src="@{/js/dropzone.js}"></script>
<script  th:src="@{/js/slick.min.js}"></script>
<script  th:src="@{/js/jquery.filterizr.js}"></script>
<script  th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script  th:src="@{/js/jquery.countdown.js}"></script>
<script  th:src="@{/js/maps.js}"></script>
<script  th:src="@{/js/app.js}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script  th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<!-- Custom javascript -->
<script  th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
