<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carrentalcontract.mapper.ContractDao">
    <insert id="insert"></insert>
    <update id="update"></update>
    <delete id="deleteById"></delete>


    <select id="queryById" resultType="com.example.carrentalcontract.entity.Contract">
        select * from  contract where contract_id = #{contractId}
    </select>
    <select id="queryAllByLimit" resultType="com.example.carrentalcontract.entity.Contract"></select>
    <select id="queryAll" resultType="com.example.carrentalcontract.entity.Contract"></select>
</mapper>