<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carrentalcontract.mapper.SysDictMapper">
    <resultMap id="DictDetailMap" type="com.example.carrentalcontract.entity.model.SysDictDetail">
        <id property="id" column="id"/>
        <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getDictDataByTypeAndValue" resultMap="DictDetailMap">
        select sdd.dict_code,sdd.code,sdd.name
        from sys_dict sd
                 left join sys_dict_detail sdd on sd.id = sdd.dict_code
        where sd.code = #{dicType}
          and sdd.code = #{key}

    </select>
</mapper>