<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carrentalcontract.mapper.SysMenuMapper">
    <resultMap id="SysMenuMap" type="com.example.carrentalcontract.entity.model.SysMenu">
        <id property="id" column="id"/>
        <result property="menuPid" column="menu_pid"/>
        <result property="menuPids" column="menu_pids"/>
        <result property="isLeaf" column="is_leaf"/>
        <result property="menuName" column="menu_name"/>
        <result property="icon" column="icon"/>
        <result property="url" column="url"/>
        <result property="sort" column="sort"/>
        <result property="level" column="level"/>
        <result property="flag" column="flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updatorId" column="updator_id"/>
    </resultMap>
    <sql id="columns">
        id,menu_pid,menu_pids,is_leaf,menu_name,url,icon,sort,level,flag,create_time,update_time,creator_id,updator_id
    </sql>
    <select id="findSysMenuByRoleofIds" resultType="com.example.carrentalcontract.entity.model.SysMenu">
        select distinct sm.*
        from sys_menu sm
        left join sys_role_menu srm on sm.id = srm.menu_id
        left join sys_role sr on srm.role_id = sr.id
        <where>
            sr.id in
            <foreach collection="list" item="item" separator="," open="(" close=")" index="">
                #{item.id}
            </foreach>
        </where>


    </select>
</mapper>