<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carrentalcontract.mapper.RoleMapper">

    <resultMap id="SysRoleMap" type="com.example.carrentalcontract.entity.model.SysRole">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleZH" column="role_ZH"/>
        <result property="remark" column="remark"/>
        <result property="sort" column="sort"/>
    </resultMap>
    <resultMap id="SysUserMap" type="com.example.carrentalcontract.entity.model.SysUser">
        <id property="id" column="id"/>
        <result property="idCard" column="id_card"/>
        <result property="reputationScore" column="reputation_score"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updatorId" column="updator_id"/>
        <result property="flag" column="flag"/>
    </resultMap>
    <insert id="insertUserAndRole" >
        insert into sys_user_role(user_id, role_id) values
            <foreach collection="list" item="item" index="index" separator=",">
                (#{id},#{item.id})
            </foreach>
    </insert>

    <select id="findRoleByUserName" resultMap="SysRoleMap">
        select sr.*
        from sys_role sr
                 left join sys_user_role sur on sr.id = sur.role_id
                 left outer join sys_users su on sur.user_id = su.id
        where su.username = #{username}
    </select>
    <select id="findUsersByRole" resultMap="SysUserMap" parameterType="com.example.carrentalcontract.entity.model.SysRole">
        select su.*
from sys_users su left join sys_user_role sur on su.id = sur.user_id
        left join sys_role sr on sr.id = sur.role_id
where sr.role_name = #{role.roleName}
    </select>
</mapper>