<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carrentalcontract.mapper.UsersMapper">

    <resultMap id="SysUserMap" type="com.example.carrentalcontract.entity.model.SysUser">
        <id property="id" column="id"/>
        <result property="idCard" column="id_card"/>
        <result property="reputationScore" column="reputation_score"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="updatorId" column="updator_id"/>
        <result property="flag" column="flag"/>
    </resultMap>

    <select id="findEmployeeAll" resultMap="SysUserMap">
        select distinct su.*
        from sys_users su
                 left join sys_user_role sur on su.id = sur.user_id
                 left join sys_role sr on sur.role_id = sr.id
        where sr.id = '3'
    </select>

</mapper>