<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carrentalcontract.mapper.UsersMapper">

    <select id="findEmployeeAll" resultType="com.example.carrentalcontract.entity.model.SysUser">
        select su.*
        from sys_users su
                 left join sys_user_role sur on su.id = sur.user_id
                 left join sys_role sr on sur.role_id = sr.id
        where sr.id = 3
    </select>
</mapper>